html{
  overflow-x: hidden;
}
.loginView{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(http://qiaokun.yuepong.com/login-bcak.png);
  background-size: cover;
}
.loginBox{
  width:360px;
  height:300px;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,.3);
  padding:16px;
  position: absolute;
  right:20%;
  top:50%;
  transform: translate(0,-50%);
  background-color: #fff;
  z-index: 200
}
.loginBox h3 span{
  color: #36f;
}
.carousel{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-100%,-50%);
  z-index: 100
}
.carousel,.carousel img{
  width:800px;
  height: 800px;
  object-fit: contain;
}